{% extends "nav_bar.html" %}
{% load bootstrap3 %}

{% block title %}Search{% endblock title %}


{% block body %}
{{ block.super }}
<div class="container">
    <form method="GET" action="" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

    <hr />
<div class="container">
    {% if results %}
        {% for r in results %}
            {{ r }} : {{ r.definitions }}
            <br />
        {% endfor %}
    {% else %}
        No results to display.
    {% endif %}
</div>
{% endblock body %}
