{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Search{% endblock title %}


{% block body %}
    <form method="POST" action="" >
        {% csrf_token %}
        {#  form.as_p #}
        {% bootstrap_form form %}
        <input type="submit" value="search" class="btn btn-primary">
    </form>

    <hr />
    {% if results%}
        {% for r in results %}
            {{ r }}    
            <ul>
                {% for d in r.definition_set.all %}
                    <li>{{ d.text }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        No results to display.
    {% endif %}
{% endblock body %}