
<!-- search form (Optional) -->
<form action="{% url 'dictionary:search2' %}" method="get" class="sidebar-form">
    {% csrf_token %}
    <div class="input-group">
        <input class="form-control" id="id_search_text" maxlength="255" name="search_text" type="text" required placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div> 
    <div class="input-group" style="color:white">
        <label class="radio-inline"><input type="radio" name="search_type" value="0" checked>Word</label>
        <label class="radio-inline"><input type="radio" name="search_type" value="1">Segment Text</label>  
    </div>
</form>
<!-- /.search form -->