{% extends "_base.html" %}

{% block content %}
    <!-- general form elements -->
    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Quiz</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" id="quiz-form" >
        {% csrf_token %}
        <div class="box-body">
        <div class="form-group">
            <label id="question"></label>
        </div>
            <div id="answers"> </div> 
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
    <!-- /.box -->
{% endblock content %}

{% block javascript  %}
    {{ block.super }}
    <script>
        $(document).ready(main());

        function main(){
            // setQuestion();

            var url = "/quiz/answer/";
            setupAjax();
            $.getJSON(
                url,
            )
            .done(function(data){
                setQuestion(data);
            })
        }
        function setQuestion(data){
            var questionDiv = $("#question");
            var answerDiv = $("#answers");
            var answerList = []; 

            questionDiv.empty();
            questionDiv.append('<p>' + data.question + "</p>");
            questionDiv.addClass(data.uid)

            answerDiv.empty();
            var checkBoxHTML = function(ans){
                return '<div class="checkbox"><label><input type="radio" name="answer" value=' + 
                        ans.pk + '>' + ans.definition + '<\/label><\/div>';
            }
            for(var i=0; i < data.answers.length; i++){
                answerList.push(checkBoxHTML(data.answers[i]));
            }
            answerDiv.append(answerList.join(""));
        }

        $("#quiz-form").submit(function(e){
            e.preventDefault();
            var selectedAnswerID = $("input[name='answer']:checked").val();
            var quizID = $("#question").attr("class");
            console.log(quizID);
            console.log(selectedAnswerID);
            console.log(getCookie("csrftoken"));
            setupAjax();
            $.ajax({
                type: "POST",
                url: "/quiz/answer/",
                data: {quiz_id: 1, answer_id: 2},
                success: function(){console.debug("Success!")},
                dataType: "json"
            });
        }); 
    </script>
{% endblock javascript  %}