{% extends "_base.html" %}

{% block title %}
{{ block.super }} Profile
{% endblock title %}

{% block content %}
    <p>Top Characters to Learn</p> 
    {% for character in  top_characters %}
        <ul>
            <li><a href="{{ character.entry.get_absolute_url }}">{{ character.entry }}</a></li>
        </ul>
    {% endfor %}

    <p>Top Words</p> 
    {% for word in  top_words %}
        <ul>
            <li><a href="{{ word.entry.get_absolute_url }}">{{ word.entry }}</a></li>
        </ul>
    {% endfor %}
{% endblock content %}