{% extends "_AdminLTE.html" %}
{% load AdminLTE %}
{% load static %}

{% block title %}
Hanyu |
{% endblock title %}

{% block logo_mini %}汉语{% endblock logo_mini %}
{% block logo_lg %}汉语 Hanyu{% endblock logo_lg %}

{% block messages %}
{% endblock messages %}
{% block notifications %}
{% endblock notifications %}

{% block user_menu_body %}
{% endblock user_menu_body %}

{% block search_form %}
{# put custom search here #}
{% endblock search_form %}

{% block sidebar_menu_header %}
SITE DIRECTORY
{% endblock sidebar_menu_header %}
        
{% block page_title  %}
Hanyu Pro
{% endblock page_title  %}
{% block page_subtitle  %}
Learn Chinese with Hanyu!
{% endblock page_subtitle  %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
{% endblock breadcrumb %}

{% block treeview_menu %}
    {% menu_tree 'Accounts' 'accounts:login' 'Login' 'accounts:logout' 'Logout' 'accounts:register' 'Register' 'accounts:profile' 'Profile'%}
    {% menu_tree 'Learning Tools' 'learning:update_word_status' 'Word Status' %}
{% endblock treeview_menu %}

{% block content_box %}
{% endblock content_box %}

{% block content %}
Say Hello to Hanyu
{% endblock content %}

{% block right_footer  %}
    A <a href="http://www.chip.org">Chipy</a> Mentorship Project
{% endblock right_footer  %}

{% block left_footer %}
The Hanyu Project
{% endblock left_footer %}